.content__default
 code
   color lighten($coderColor, 20%)
   padding 0.25rem 0.5rem
   margin 0
   font-size 0.85em
   background-color var(--code-color)
   border-radius 3px

.content__default
 pre, pre[class*="language-"]
   line-height 1.4
   padding 2.15rem 1.5rem 1rem 0
   border-style solid
   margin 0.85rem 0
   background-color $codeBgColor
   border-radius 6px
   border-width 1px
   overflow auto
   code
     color rgba(0, 0, 0, 1)
     padding 0
     background-color transparent
     border-radius 0

.dark pre[class*="language-"]
   code
     color #EBEBEB

.token.punctuation 
   color rgba(0, 0, 0, 1)

.dark .token.punctuation 
   color #EBEBEB

.dark div[class*="language-"]
  border-color rgba(62, 76, 90, 1)
  background-color rgba(54, 59, 70, 1)
  &.line-numbers-mode .line-numbers-wrapper
    background-color #363b46

div[class*="language-"]
 position relative
 background-color $codeBgColor
 border-radius 6px
 .highlight-lines
   user-select none
   padding-top 1.3rem
   position absolute
   top 0
   left 0
   width 100%
   line-height 1.4
   .highlighted
     background-color rgba(0, 0, 0, 66%)
 pre, pre[class*="language-"]
   background transparent
   position relative
   z-index 1
 &::before
   position absolute
   z-index 3
   top 0.8em
   right 1em
   font-size 0.75rem
   color #999
 &:not(.line-numbers-mode)
   .line-numbers-wrapper
     display none
 &::after {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 9999px;
    content: "";
    background: #858DE6;
    box-shadow: 21px 0 0 0 #858DE6, 42px 0 0 0 #858DE6;
  }
 &.line-numbers-mode
   .highlight-lines .highlighted
       position relative
       &:before
         content ' '
         position absolute
         z-index 3
         left 0
         top 0
         display block
         width $lineNumbersWrapperWidth
         height 100%
         background-color rgba(0, 0, 0, 66%)

   pre
     padding-left $lineNumbersWrapperWidth + 1 rem
     vertical-align middle
   .line-numbers-wrapper
     position absolute
     top 2.15rem
     left 1px
     bottom 1rem
     width $lineNumbersWrapperWidth
     text-align center
     color $codeLineNumberColor
     line-height 1.4
     //New
     z-index 3
     background-color $codeBgColor

     border-right-width 1px
     border-right-style dashed
     br
       user-select none
     .line-number
       position relative
       z-index 4
       user-select none
       font-size 0.85em


for lang in $codeLang
 div{'[class~="language-' + lang + '"]'}
   &:before
     content ('' + lang)

div[class~="language-javascript"]
 &:before
   content "js"

div[class~="language-typescript"]
 &:before
   content "ts"

div[class~="language-markup"]
 &:before
   content "html"

div[class~="language-markdown"]
 &:before
   content "md"

div[class~="language-json"]:before
 content "json"

div[class~="language-ruby"]:before
 content "rb"

div[class~="language-python"]:before
 content "py"

div[class~="language-bash"]:before
 content "sh"

div[class~="language-php"]:before
 content "php"


:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
//.token.punctuation,
.token.cdata {
	color: #999;
}


.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.function {
	color: #f08d49;
}

.token.number {
	color: #DAA520;
}

.dark .token.number {
	color: #FAED96;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword {
	color: #2196f3 !important;
}

.token.builtin {
    color: #A20090;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
