// 默认值
$accentColor = #616AE5                    // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = rgba(245, 247, 250, 1)                     // 代码块背景色
$codeLineNumberColor = rgba(153,153,153,1)                     // 行号颜色
$coderColor = rgba(0, 0, 0, 1)                      // 代码块文本颜色
$backgroundColor = #ffffff                  // 悬浮块背景色
